.customers-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.customers-social-list-link {
  @extend %align;
  width: 100%;
  height: 92px;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--transition-duration-and-func);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }
}

.customers-social-list-item {
  width: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}

.customers-social-list-icon {
  fill: #afb1b8;

  transition: fill var(--transition-duration-and-func);

  .customers-social-list-link:hover &,
  .customers-social-list-link:focus & {
    fill: #2196f3;
  }
}
