.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.about-item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.about-icon-wrapper {
  @extend %align;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.about-title {
  @include font($fs: 14px, $fw: 700, $lh: 16px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.about-text {
  margin-top: 10px;
  @include font($fs: 14px, $fw: 400, $lh: 24px);
  letter-spacing: 0.03em;
  color: #757575;
}
.list-a-image-icon {
  fill: #212121;
}

// section-img
.section-img {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.section-img {
  padding-top: 0;
}

.title-work {
  margin-bottom: 50px;
}

.img-work {
  display: flex;
  justify-content: space-between;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.about-item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.about-icon-wrapper {
  @extend %align;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.about-title {
  @include font($fs: 14px, $fw: 700, $lh: 16px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.about-text {
  margin-top: 10px;
  @include font($fs: 14px, $fw: 400, $lh: 24px);
  letter-spacing: 0.03em;
  color: #757575;
}
.list-a-image-icon {
  fill: #212121;
}

// section-img
.section-img {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.section-img {
  padding-top: 0;
}

.title-work {
  margin-bottom: 50px;
}

.img-work {
  display: flex;
  justify-content: space-between;
}
